<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application android:name=".NavigationApplication" android:allowBackup="true" android:icon="@drawable/vo_icon" android:label="ВОнтакте" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".CallActivity" android:exported="false" />
        <activity android:name=".GroupChannelActivity" android:exported="false" />
        <activity android:name=".CommunitiesActivity" android:exported="false" />
        <activity android:name=".CommunityChatActivity" android:exported="false" />
        <activity android:name=".BotActivity" android:exported="false" />
        <activity android:name=".BotCatalogActivity" android:exported="false" />
        <activity android:name=".BotChatActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity>
        <service android:name=".KontakteMessagingService" android:exported="false"><intent-filter><action android:name="com.google.firebase.MESSAGING_EVENT" /></intent-filter></service>
    </application>
</manifest>
